body {
    background: rgb(190,190,190);
    overflow: hidden;
    visibility: hidden;
}

#mobile-header {
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    width: 100%;
    padding-top: 5px;
    font-weight: bold;

    background: rgb(30, 30, 30);
    background-image: -moz-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -webkit-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -ms-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -o-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: linear-gradient(top, rgb(45,45,45), rgb(20,20,20));

    text-align: center;
    color: rgb(200,200,200);

    display: none;
}

#canvas-wrap {
    overflow: auto;
}
#canvas {
    background: white;
}

#menu {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;

    background: rgb(40, 40, 40);
    background-image: -moz-linear-gradient(top, rgba(5,5,5,.8), rgba(70,70,70,.8));
    background-image: -webkit-linear-gradient(top, rgba(5,5,5,.8), rgba(70,70,70,.8));
    background-image: -ms-linear-gradient(top, rgba(5,5,5,.8), rgba(70,70,70,.8));
    background-image: -o-linear-gradient(top, rgba(5,5,5,.8), rgba(70,70,70,.8));
    background-image: linear-gradient(top, rgba(5,5,5,.8), rgba(70,70,70,.8));

    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    z-index: 1000;
}
#menu hr {
    color: black;
}
.menu-item h3, #left-panel h3 {
    color: white;
    text-align: center;
    margin-top: 1em;
}

#left-panel {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    background: rgb(30, 30, 30);
    background-image: -moz-linear-gradient(top, rgb(50,50,50), rgb(80,80,80));
    background-image: -webkit-linear-gradient(top, rgb(50,50,50), rgb(80,80,80));
    background-image: -ms-linear-gradient(top, rgb(50,50,50), rgb(80,80,80));
    background-image: -o-linear-gradient(top, rgb(50,50,50), rgb(80,80,80));
    background-image: linear-gradient(top, rgb(50,50,50), rgb(80,80,80));
}

#colorwheel {
    margin-top: 1em;
}
#colorwheel-menu {
    margin-top: 1em;
}

#brush-picker-menu  {
}
#brush-picker {
    margin-top: 25px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    float: left;

    background-image: -moz-linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
    background-image: -webkit-linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
    background-image: -ms-linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
    background-image: -o-linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
    background-image: linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
}
.brush-thumb {
    position: absolute;
    background: rgb(240, 240, 240);
    width: 64px;
    height: 64px;
    margin: 12px;
    border-radius: 5px 5px 5px 5px;
}
.brush-thumb:hover {
    background: white;
    cursor: pointer;
}
.brush-thumb p {
    font-size: .75em;
    line-height: 64px;
    text-align: center;
}

#brush-options {
    margin-top: 1em;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    float: left;
    color: white;

    background-image: -moz-linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
    background-image: -webkit-linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
    background-image: -ms-linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
    background-image: -o-linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
    background-image: linear-gradient(top, rgba(90,90,90,.8), rgba(25,25,25,.8));
}
.brush-option {
    margin-top: 1em;
}
.brush-option-menu {
    padding-top: 1em;
    padding-bottom: 2em;
}
.option-header, .option-header-menu {
    position: relative;
    font-size: .75em;
    top: 1em;
    margin-left: 15px;
}
.option-header-menu {
    color: white;
    font-weight: bold;
}
.slider {
    width: 70%;
    top: 1em;
    margin-left: 15px;
}
.slider-val {
    margin-right: 15px;
    float: right;
}
.slider-val-menu {
    color: white;
}

#brush-smaller {
    position: absolute;
    margin-right: -12px;
    margin-left: 12px;
    color: red;
}
#brush-larger {
    position: absolute;
    margin-right: -12px;
    margin-left: 48px;
    color: green;
}

#footer {
    background: rgb(30, 30, 30);
    background-image: -moz-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -webkit-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -ms-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -o-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: linear-gradient(top, rgb(45,45,45), rgb(20,20,20));

    text-align: center;
    color: rgb(200,200,200);
}
#footer-container {
    position: relative;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.footer-button {
    padding: 17px 25px 10px 25px;
    border-left: 1px double rgb(10,10,10);
    border-right: 1px double rgb(10,10,10);
}
.footer-button:hover {
    background: rgb(50, 50, 50);
    background-image: -moz-linear-gradient(top, rgb(65,65,65), rgb(40,40,40));
    background-image: -webkit-linear-gradient(top, rgb(65,65,65), rgb(40,40,40));
    background-image: -ms-linear-gradient(top, rgb(65,65,65), rgb(40,40,40));
    background-image: -o-linear-gradient(top, rgb(65,65,65), rgb(40,40,40));
    background-image: linear-gradient(top, rgb(65,65,65), rgb(40,40,40));
}
.footer-button:active {
    background: rgb(20, 20, 20);
    background-image: -moz-linear-gradient(top, rgb(30,30,30), rgb(15,15,15));
    background-image: -webkit-linear-gradient(top, rgb(30,30,30), rgb(15,15,15));
    background-image: -ms-linear-gradient(top, rgb(30,30,30), rgb(15,15,15));
    background-image: -o-linear-gradient(top, rgb(30,30,30), rgb(15,15,15));
    background-image: linear-gradient(top, rgb(30,30,30), rgb(15,15,15));
}
.footer-icon {
    font-size: 21px;
}

#color-button {
    color: rgb(230, 0, 0);
}

