body {
  background: #bebebe;
  overflow: hidden;
  visibility: hidden; }

#mobile-header {
  background-image: -moz-linear-gradient(top, #2d2d2d, #202020);
  background-image: -webkit-linear-gradient(top, #2d2d2d, #202020);
  background-image: -ms-linear-gradient(top, #2d2d2d, #202020);
  background-image: -o-linear-gradient(top, #2d2d2d, #202020);
  background-image: linear-gradient(top, #2d2d2d, #202020);
  background: #2d2d2d;
  color: #c8c8c8;
  display: none;
  font-weight: bold;
  height: 25px;
  left: 0;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%; }

#canvas-wrap {
  overflow: auto; }

#canvas {
  background: white; }

#menu {
  background-image: -moz-linear-gradient(top, #2d2d2d, #202020);
  background-image: -webkit-linear-gradient(top, #2d2d2d, #202020);
  background-image: -ms-linear-gradient(top, #2d2d2d, #202020);
  background-image: -o-linear-gradient(top, #2d2d2d, #202020);
  background-image: linear-gradient(top, #2d2d2d, #202020);
  background: #2d2d2d;
  box-shadow: 0px 0px 3 #0a0a0a;
  border-radius: 3px;
  height: 99%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 99%;
  z-index: 1000; }
  #menu hr {
    color: #0a0a0a; }

.menu-item h3, #left-panel h3 {
  color: white;
  text-align: center;
  margin-top: 1em; }

#left-panel {
  background-image: -moz-linear-gradient(top, #2d2d2d, #202020);
  background-image: -webkit-linear-gradient(top, #2d2d2d, #202020);
  background-image: -ms-linear-gradient(top, #2d2d2d, #202020);
  background-image: -o-linear-gradient(top, #2d2d2d, #202020);
  background-image: linear-gradient(top, #2d2d2d, #202020);
  background: #4b4b4b;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden; }

#colorwheel, #colorwheel-menu {
  margin-top: 1em; }

.panel-menu {
  background-image: -moz-linear-gradient(top, #787878, #6b6b6b);
  background-image: -webkit-linear-gradient(top, #787878, #6b6b6b);
  background-image: -ms-linear-gradient(top, #787878, #6b6b6b);
  background-image: -o-linear-gradient(top, #787878, #6b6b6b);
  background-image: linear-gradient(top, #787878, #6b6b6b);
  box-shadow: 0px 0px 3 #0a0a0a;
  border-radius: 3px;
  float: left; }

#brush-picker {
  margin-top: 25px; }

.brush-thumb {
  background: #f0f0f0;
  border-radius: 3px;
  height: 64px;
  margin: 12px;
  position: absolute;
  width: 64px; }
  .brush-thumb:hover {
    background: #f0f0f0;
    cursor: pointer; }
  .brush-thumb p {
    font-size: .75em;
    line-height: 64px;
    text-align: center; }

#brush-options {
  color: #f0f0f0;
  margin-top: 1em; }
  #brush-options .brush-option {
    margin-top: 1em; }

.brush-option-menu {
  padding-top: 1em;
  padding-bottom: 2em; }

.option-header, .option-header-menu {
  font-size: .75em;
  position: relative;
  margin-left: 15px;
  top: 1em; }

.option-header-menu {
  color: #f0f0f0;
  font-weight: bold; }

.slider {
  margin-left: 15px;
  top: 1em;
  width: 70%; }

.slider-val {
  margin-right: 15px;
  float: right; }

.slider-val-menu {
  color: #f0f0f0; }

#footer {
  background-image: -moz-linear-gradient(top, #2d2d2d, #202020);
  background-image: -webkit-linear-gradient(top, #2d2d2d, #202020);
  background-image: -ms-linear-gradient(top, #2d2d2d, #202020);
  background-image: -o-linear-gradient(top, #2d2d2d, #202020);
  background-image: linear-gradient(top, #2d2d2d, #202020);
  background: #2d2d2d;
  color: #c8c8c8;
  text-align: center; }

#footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  position: relative;
  padding-top: 15px; }

.footer-button {
  padding: 17px 25px 10px 25px;
  border-left: 1px double #0a0a0a;
  border-right: 1px double #0a0a0a; }
  .footer-button:hover {
    background-image: -moz-linear-gradient(top, #414141, #282828);
    background-image: -webkit-linear-gradient(top, #414141, #282828);
    background-image: -ms-linear-gradient(top, #414141, #282828);
    background-image: -o-linear-gradient(top, #414141, #282828);
    background-image: linear-gradient(top, #414141, #282828);
    background: #323232; }
  .footer-button:active {
    background: #141414;
    background-image: -moz-linear-gradient(top, #1e1e1e, #0f0f0f);
    background-image: -webkit-linear-gradient(top, #1e1e1e, #0f0f0f);
    background-image: -ms-linear-gradient(top, #1e1e1e, #0f0f0f);
    background-image: -o-linear-gradient(top, #1e1e1e, #0f0f0f);
    background-image: linear-gradient(top, #1e1e1e, #0f0f0f); }

.footer-icon {
  font-size: 21px; }

#color-button {
  color: #e60000; }
