#main {
    background: rgb(245,245,245);
}

canvas#color-bar {
    background-image: -moz-linear-gradient(top, rgb(140,140,140), rgb(120,120,120));
    background-image: -webkit-linear-gradient(top, rgb(140,140,140), rgb(120,120,120));
    background-image: -ms-linear-gradient(top, rgb(140,140,140), rgb(120,120,120));
    background-image: -o-linear-gradient(top, rgb(140,140,140), rgb(120,120,120));
    background-image: linear-gradient(top, rgb(140,140,140), rgb(120,120,120));
}

#brush-icon {
    position: absolute;
    margin-right: -12px;
}
#brush-smaller {
    position: absolute;
    margin-right: -12px;
    margin-left: 24px;
    color: red;
}
#brush-larger {
    position: absolute;
    margin-right: -12px;
    margin-left: 48px;
    color: green;
}

#footer {
    background-image: -moz-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -webkit-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -ms-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: -o-linear-gradient(top, rgb(45,45,45), rgb(20,20,20));
    background-image: linear-gradient(top, rgb(45,45,45), rgb(20,20,20));

    text-align: center;
    color: rgb(200,200,200);

}
#footer-container {
    position: relative;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
