@media only screen and (max-width: 960px) {
  #mobile-header {
    height: 3%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #c8c8c8;
    background: #1e1e1e;
    background-image: -moz-linear-gradient(top, #2d2d2d, #141414);
    background-image: -webkit-linear-gradient(top, #2d2d2d, #141414);
    background-image: -ms-linear-gradient(top, #2d2d2d, #141414);
    background-image: -o-linear-gradient(top, #2d2d2d, #141414);
    background-image: linear-gradient(top, #2d2d2d, #141414); }

  #canvas {
    height: 95%;
    width: 100%;
    margin-left: 0; }

  #left-panel {
    display: none; }

  #menu {
    top: 4%; } }
